.RelatedProductList, .RP{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  margin: 20px, auto;
  align-items: center;
  overflow: hidden;
}

 .RP {
  font-size:2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  margin: 20px, auto;
  align-items: center;

 }

.RelatedProducts{
  width: 100%;
  align-items: center;

}
.RPcategory {
  margin-bottom: 3px;
  font-size: small;
  /* font-family: 'Poppins', sans-serif; */
}

.RPcard__content {
  display: contents;
  font-size: 14;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
  height: 60px;
}


.carousel-slide-item__body {
  text-align: center;
  align-items: center;
  justify-content: center;
}


.RPcard-image {
  border-radius: 15px 15px 0 0;
  width: 250px;
  height: 300px;
  object-fit: cover;

}
.RPprice{
  margin-bottom: 10px;
}

.RPcard{
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px 20px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  cursor: pointer;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);


}
.RPcard:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.card-container:hover {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  cursor: pointer;
}




/* Related Products Carousel Basic CSS */

.RPcarousel-container {
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: left;

}

.RPcarousel-content{
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}


.RPright-arrow, .RPleft-arrow{
  position: absolute;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}


.RPleft-arrow {
  left: 275px;
  z-index: 1;
}

.RPright-arrow {
  right: 275px;
  z-index: 1;
}
.RPStars {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}